@using Web_Tabanli_Programlama_Uygulama_DbFirst.Models;
@model Personel

<div>
    <form method="post" asp-controller="PersonelPages" asp-action="PersonelKaydet">
        <div>
            <label for="Ad">Ad:</label>
            <input type="text" id="Ad" name="Ad">
        </div>
        <div>
            <label for="Soyad">Soyad:</label>
            <input type="text" id="Soyad" name="Soyad">
        </div>
        <div>
            <label for="Eposta">Eposta:</label>
            <input type="email" id="Eposta" name="Eposta">
        </div>
        <div>
            <label for="Telefon">Telefon:</label>
            <input type="text" id="Telefon" name="Telefon">
        </div>
        <div>
            <label for="Departman">Departman:</label>
            <input type="text" id="Departman" name="Departman">
        </div>
        <div>
            <label for="Sehir">Sehir:</label>
            <input type="text" id="Sehir" name="Sehir">
        </div>
        <button type="submit">Kaydet</button>
    </form>
</div>